.watchlist-popup {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  z-index: 10;
}

.watchlist-popup,
.watchlist-popup .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.watchlist-popup .overlay {
  position: absolute;
  background-color: #0000005a;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  cursor: pointer;
}

.watchlist-popup .inner {
  max-width: 500px;
  width: 100%;
  background: white;
  min-height: 100vh;
  animation: slide-in-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  --padding-x: 5%;
}

.watchlist-popup .inner .header {
  padding: 15px var(--padding-x);
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.watchlist-popup .inner .header .close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #eee;
  color: #aaa;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 0;
}

.checkout-page,
.watchlist-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  --padding-x: 5%;
  overflow: auto;
}

.watchlist-page .body,
.checkout-page .body {
  flex: 1;
}

.watchlist-page .body::-webkit-scrollbar,
.checkout-page .body::-webkit-scrollbar,
.checkout-page::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.watchlist-page .body::-webkit-scrollbar-thumb,
.checkout-page
  .body::-webkit-scrollbar-thumb
  .checkout-page::-webkit-scrollbar-thumb {
  width: 5px;
  background: #ddd;
  border-radius: 10px;
}

.watchlist-page .footer,
.checkout-page .footer {
  padding: 10px var(--padding-x);
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
}

.watchlist-page .footer .submit-btn,
.checkout-page .footer .submit-btn {
  flex: 1;
  margin-right: 10%;
  text-align: center;
  font-size: 14px;
}

.watchlist-page .footer .price-tally {
  display: flex;
  align-items: flex-end;
  color: var(--dark-color);
}

.watchlist-page .footer .price-tally b {
  font-size: 15px;
  margin-right: 5px;
}
.watchlist-page .footer .price-tally h3 {
  font-size: 25px;
  margin-right: 5px;
  line-height: 25px;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
  }
}

.checkout-page .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffffc0 !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 0 5%;
}
.checkout-page .overlay input {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  width: 50%;
  margin-bottom: 10px;
  background-color: #ddd;
  outline: none;
  text-align: center;
}
.checkout-page .overlay button {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  cursor: pointer;
}

.checkout-page .body .delivery-address .choose-delivery {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  margin: 20px 0;
}

@media (max-width: 360px) {
  .checkout-page .body .delivery-address .choose-delivery {
    display: block;
    margin-bottom: 10px;
  }
}

.checkout-page .body .label {
  padding: 10px 5%;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.checkout-page .email-setup > div {
  padding: 10px 5%;
}

.checkout-page .email-setup input {
  width: 100%;
  border: none;
  padding: 10px 5%;
  font-size: 12px;
  background-color: #f5f5f5;
  border-radius: 10px;
  outline: none;
}

.checkout-page .body .choose-delivery div {
  padding: 10px 20px;
  margin: 0px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  font-size: 12px;
  text-align: center;
  background-color: #efefef;
}
/* .checkout-page .body .choose-delivery button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.checkout-page .body .choose-delivery button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
} */
.checkout-page .body .choose-delivery div.selected {
  background-color: var(--dark-color-transparent);
  color: var(--dark-color);
}

.checkout-page .body .delivery-address .address-form {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
}

.checkout-page .delivery-address .address-form .warning {
  padding: 10px 15px;
  border-left: 3px solid orangered;
  background-color: rgba(255, 68, 0, 0.11);
  font-size: 12px;
  letter-spacing: 0.5px;
  display: flex;
  margin-bottom: 10px;
}

.checkout-page .body textarea {
  width: 100%;
  max-width: 100%;
  border: 0px;
  background-color: #f5f5f5;
  padding: 20px;
  outline: none;
  min-height: 100px;
  border-radius: 10px;
  max-height: 200px;
  min-width: 100%;
  margin-top: 15px;
}

.checkout-page select {
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  outline: none;
}

.checkout-page .payable-details {
  margin-top: 5px;
}

.checkout-page .amount-payable {
  margin-top: 20px;
}

.checkout-page .payable {
  padding: 5px 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.checkout-page .payable b {
  font-size: 14px;
}

.checkout-page .payable:last-child {
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.checkout-page .payable span {
  color: var(--dark-color);
}

.checkout-page .payable small {
  margin-right: 5px;
}

/* WATCHLIST ITEM */
.item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 15px var(--padding-x);
  border-bottom: 1px solid #f5f5f5;
}
.item.fade::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(2px);
  pointer-events: none;
}
.item:hover {
  background: #fafafa;
}
.item .check {
  width: 50px;
  padding-top: 10px;
}
.item .check .checker {
  width: 15px;
  height: 15px;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  cursor: pointer;
}
.item .check .checker.on {
  background: var(--dark-color);
}

.item .img {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  margin-right: 15px;
  border-radius: 10px;
}

.item .details {
  display: flex;
  flex: 1;
  align-items: stretch;
}
.item .details .info {
  flex: 1;
  font-size: 14px;
  color: #333;
}

.item .info h3 {
  font-size: 14px;
}
.item .info .size,
.item .info .tag {
  margin: 0px 0;
  font-size: 12px;
}

.item .info .tag {
  color: #aaa;
}

.item .price {
  color: var(--dark-color);
  align-self: stretch;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item .price small {
  font-size: 12px;
  margin-right: 5px;
}
.item .price span {
  font-size: 16px;
  cursor: pointer;
}

/* CHECKOUT PRODUCTS */
.products-view {
}
.products-view .toggler {
  min-width: 100%;
  border: none;
  background: #eee;
  color: #777;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

.products-view .items-container {
  max-height: initial;
  transition: height 0.3s linear;
}

.products-view .items-container.hidden {
  max-height: 0px;
  overflow: hidden;
}
.products-view .items-container .item {
  padding: 10px 5%;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
}

.products-view .item .price {
  margin-left: auto;
  color: var(--dark-color);
}

.products-view .item .info {
  margin-left: 10px;
}

.products-view img {
  border-radius: 10px;
}

.products-view .item p {
  font-size: 13px;
  line-height: 18px;
}
